<div class="album py-5 bg-light">
    <marquee loop="1" style="margin-left: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4" *ngFor="let item of items">
                    <div class="card mb-4 box-shadow" style="border:solid; box-shadow: 7px 12px grey;">
                        <img class="card-img-top" [src]="item.thumbnail.path + '/landscape_large.' + item.thumbnail.extension"> 
                    <div class="card-body">
                        <h2  style="cursor: pointer;">{{item.name}}</h2>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </marquee>
</div>
